@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To It!</h1>
    <h2>This is a simple application for TIME.</h2>
    <p> Navigate to the Privacy Page to see how DateTime was used.</p>

</div>
